html
  head
    link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Raleway" rel="stylesheet")
    link(href='./style.css' rel='stylesheet' )
  body
    div.blog-container
      header
        div.blog-header
          h1.blog-title Java Pi
          h2.blog-tagline Setting up your Raspberry Pi to be a Java dev machine
      main
        div.blog-content-container
          p.content 
